node_modules/
.DS_Store
doc/
project-docs/
.vscode/
.opencode/
.claude/
graphify-out
skills-lock.json
test-results/
tests/
CLAUDE.md
.playwright-cli/
playwright.config.js
PRD.pdf
TO-DO.csv
REQUIREMENT.md

